/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Synonym";
  src: url("https://joulev.dev/fonts/Synonym-Extralight.woff2") format("woff2"),
    url("https://joulev.dev/fonts/Synonym-Extralight.woff") format("woff"),
    url("https://joulev.dev/fonts/Synonym-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Synonym";
  src: url("https://joulev.dev/fonts/Synonym-Light.woff2") format("woff2"),
    url("https://joulev.dev/fonts/Synonym-Light.woff") format("woff"),
    url("https://joulev.dev/fonts/Synonym-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Synonym";
  src: url("https://joulev.dev/fonts/Synonym-Regular.woff2") format("woff2"),
    url("https://joulev.dev/fonts/Synonym-Regular.woff") format("woff"),
    url("https://joulev.dev/fonts/Synonym-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Synonym";
  src: url("https://joulev.dev/fonts/Synonym-Medium.woff2") format("woff2"),
    url("https://joulev.dev/fonts/Synonym-Medium.woff") format("woff"),
    url("https://joulev.dev/fonts/Synonym-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Synonym";
  src: url("https://joulev.dev/fonts/Synonym-Semibold.woff2") format("woff2"),
    url("https://joulev.dev/fonts/Synonym-Semibold.woff") format("woff"),
    url("https://joulev.dev/fonts/Synonym-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Synonym";
  src: url("https://joulev.dev/fonts/Synonym-Bold.woff2") format("woff2"),
    url("https://joulev.dev/fonts/Synonym-Bold.woff") format("woff"),
    url("https://joulev.dev/fonts/Synonym-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

#nprogress {
  @apply pointer-events-none;
}
#nprogress .bar {
  @apply bg-main-900 dark:bg-main-100 fixed top-0 left-0 z-50 w-full h-0.5;
}
