@import "@joulev/theme/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress {
  @apply pointer-events-none;
}
#nprogress .bar {
  @apply bg-main-900 dark:bg-main-100 fixed top-0 left-0 z-50 w-full h-0.5;
}
