@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fadein {
    opacity: 0;
    animation: fadein 1s ease-in-out forwards;
  }
  .animate-fadein-fast {
    opacity: 0;
    animation: fadein 0.6s ease-in-out forwards;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
