/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::-webkit-scrollbar {
    display: none;
  }
  html,
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    writing-mode: vertical-rl;
    @apply font-serif;
  }
}
